/* COMECO REvista */
@media (max-width: 767.98px) {
    .logo-ativo-adesfrutada {
        position: relative;
        z-index: 1;
        height: 60% !important;
    }
    .box-adesfrutada {
        top: 1px!important;
        width: 200px!important;
        position: absolute!important;
        left: 70% !important;
        transform: translateX(-66%) !important;
        z-index: 2!important;
    }
}
.box-adesfrutada {
    position: absolute;
    left: 70%;
    width: 420px;
    top: 42px;
    transform: translateX(-66%);
    z-index: 2;
}
.logo-ativo-adesfrutada {
    position: relative;
    z-index: 1;
    height: 366px;

}

/* FINAL Revista */

/* COMECO EM nos */
.box-emnos {
    position: absolute;
    left: 60%;
    width: 420px;
    top: 7px;
    transform: translateX(-66%);
    z-index: 2;
}
.logo-ativo-emnos {
    position: relative;
    z-index: 1;
    height: 366px;

}
@media (max-width: 767.98px) {
    .logo-ativo-emnos {
        position: relative;
        z-index: 1;
        height: 60% !important;
    }
    .box-emnos {
        top: -33px;
        width: 200px!important;
        position: absolute!important;
        left: 70% !important;
        transform: translateX(-66%) !important;
        z-index: 2!important;
    }
}
/* FINAL Em nos */
/* COMECO AUSENCIA */
@media (max-width: 767.98px) {
    .logo-ativo-ausencia {
        position: relative;
        z-index: 1;
        height: 60% !important;
    }
    .box-ausencia {
        top: 1px!important;
        width: 200px!important;
        position: absolute!important;
        left: 70% !important;
        transform: translateX(-66%) !important;
        z-index: 2!important;
    }
}
.box-ausencia {
    position: absolute;
    left: 60%;
    width: 420px;
    top: 7px;
    transform: translateX(-66%);
    z-index: 2;
}
.logo-ativo-ausencia {
    position: relative;
    z-index: 1;
    height: 366px;

}
/* FINAL AUSENCIA */
/* COMECO REMETENTE */
@media (max-width: 767.98px) {
    .logo-ativo-remetente {
        position: relative;
        z-index: 1;
        height: 60% !important;
    }
    .box-remetente {
        top: 1px!important;
        width: 162px!important;
        position: absolute!important;
        left: 70% !important;
        transform: translateX(-66%) !important;
        z-index: 2!important;
    }
}
.box-remetente {
    position: absolute;
    left: 60%;
    width: 320px;
    top: 7px;
    transform: translateX(-66%);
    z-index: 2;
}
.logo-ativo-remetente {
    position: relative;
    z-index: 1;
    height: 366px;

}

/* FINAL REMETENTE */

/* COMECO POLIAMAR */
@media (max-width: 767.98px) {
    .logo-ativo-poliamar {
        position: relative;
        z-index: 1;
        height: 60% !important;
    }
    .container-contatos {
        position: static;
        float: none;
        margin: 0 10px
    }
    .container-footer2{
        position: static;
        float: none;
        margin: 0 10px;
    }
    footer .navbar-nav {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }
    .box-poliamar {
        top: -60px!important;
        width: 227px!important;
        position: absolute!important;
        left: 68% !important;
        transform: translateX(-66%) !important;
        z-index: 2!important;
    }
    .buttonInscrevase {
        width: 100%;
        margin-top: 10px;
    }
}
.box-poliamar {
    position: absolute;
    left: 68%;
    width: 475px;
    top: -45px;
    transform: translateX(-66%);
    z-index: 2;
}
.logo-ativo-poliamar {
    position: relative;
    z-index: 1;
    height: 366px;

}
.tituloLivro autoria{
    color: #06171F;
    font-size: 18px;

}
.subTitulo{
    font-size: 18px;
}
.tituloLivro{
    font-weight: bold;
    font-size: 20px;

}
.biografia{
    color: #96811D;
    font-size: 15px;
    text-align: justify;
}
.livros{
    font-family: 'Cabin';
}
.text-resumo{
    text-align: justify;
}

/* FINAL POLIAMAR */
/* COMECO EBOOKS */
.comprarAmazon{
    color: #FFFFFF;
    background-color: #96811D;
}
/* FINAL EBOOOKS */
/* COMECO REVISTA */
.comprarImpresso{
    color: #FFFFFF;
    background-color: #96811D;
}
@media (max-width: 767.98px) {
    .logo-ativo-revista {
        position: sticky !important;
        width: 230px !important;
        margin-left: 90px !important;
    }
    .logoAdesfrutada{
        width: 355px !important;
        margin-top:-50px!important;
        margin-left: -5px!important;
    }
}
.logo-ativo-revista{
    width: 300px;
    position: sticky;
    margin-left: 200px;
}
.logoAdesfrutada{
    margin-top:-98px;
    margin-left: -107px;
}

/* FINAL REVISTA */
/* COMECO sobre */
.bio-text {
    color: #96811D;
    font-size: 15px;
    display: none;
    transform: translateX(-100%);
}
.bio-button{
    background-color: #96811D;
    border: none;
    color: white;
}
.bio-text.show {
    display: block;
    transform: translateX(0);
    transition: transform 0.5s ease;
}
.biografia {
    color: #96811D;
    font-size: 15px;
    display: none;
    transform: translateX(-100%);
}
.bio-button{
    background-color: #96811D;
    border: none;
    color: white;
}
.biografia.show {
    display: block;
    transform: translateX(0);
    transition: transform 0.5s ease;
}

body{
    overflow-x: hidden;!important;
    font-family: 'Cabin';!important;
}
.value-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    margin-right: 20px; /* Espaço entre itens, ajuste conforme necessário */
}
.container-valores {
    background-color: #2e4a54;
    color: white;
    padding: 20px;
}
.header {
    flex-direction: column;
    text-align: center;
}
.header-icon {
    margin-bottom: 10px;
}
#container-header{
    background-color: #A9C4BB;
    font-family: 'Cabin';!important;
    width: 100%;
    height: 52px;
}
.header-icon {
    width: 40px;
    margin-right: 8px;
}

.header-title {
    color: #96811D;
    margin-top: 4px;
}
.imgmandiJU {
    position: absolute;
    border-radius: 50%;
    left: 50%;
    top: -120px;
    transform: translateX(-66%);
    z-index: 2;
}

.logo-ativo {
    position: relative;
    z-index: 1;
    height: 55%;
}
@media (max-width: 767px) {
    #container-header{
        background-color: #A9C4BB;
        font-family:'Cabin';!important;
        width: 100%;
        height: auto;!important;
    }
    .imgmandiJU {
        position: absolute;
        border-radius: 50%;
        left: 60%;
        width: 240px;
        top: -76px;
        transform: translateX(-66%);
        z-index: 2;
    }
    .container-valores {
        padding: 10px;
    }
    .header {
        flex-direction: column;
        text-align: center;
    }

    .header-icon {
        margin-bottom: 10px;
    }

    .value-item {
        flex-direction: column;
        align-items: center;
        margin-right: 80px;
    }

    .separator {
        display: none;
    }
}
/* FINAL sobre */

/* COMECO antologias */
@media (max-width: 767px) {
    #imgBanner1, #imgBanner2, #imgBanner3, #imgBanner4, #imgBanner5 {
        height: 250px;
        width: 100%;
    }
    #container-car{
        margin-bottom: -98px!important;
    }
    #container-car-poesias{
        margin-bottom: -226px!important;
    }
    .container_form{
     width: 405px!important;
    }
}
.container-info-antologia{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
}
.container_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
    padding: 20px;
    width: 640px;
    border-radius: 50px;
    border: 5px white solid;
}
.container_form input,
.container_form textarea {
    width: 70%;
    border-radius: 30px;
    padding-left: 10px;
}
.container_form textarea {
    width: 70%;
    border-radius: 30px;
    padding-left: 10px;
}
.container_form h5 {
    text-align: center;
    margin-bottom: 20px; /* Espaçamento abaixo do título */
}
.dropdown-item{
    color: #ffffff;
}
footer{
    background-color: #96811D;
    color: #FFFFFF;
    font-family: 'Cabin';
    overflow-x: hidden;
    overflow-y: hidden;
}
livrosFooter{
    background-color: #96811D;
    color: #FFFFFF;
    font-family: 'Cabin';
}
.dropdown-menu{
    background-color:#A9C4BB;
}
.dropdown-menu.footer{
    background-color: #96811D;
}
.buttonInscrevase{
    color: #FFFFFF;
    background-color: #96811D;
}
.tituloLivro autoria{
    color: #06171F;
    font-size: 18px;
}
.dropdown-item{
    color: #ffffff;
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link .nav-link dropdown-toggle{
    color:#FFFFFF; !important;
}
.navbar-nav .nav-link.active:hover {
    background-color: #A9C4BB;
    color: #ffffff !important;
}

.navbar-nav .nav-link {
    color: white !important;
}
@media (max-width: 767px) {
    margin: 50px 10%;
}
h4 {
    font-size: 24px;
    margin-bottom: 15px;
    color: #fff;
}
#apresentacao p{
    color: black;
    margin-bottom: 20px;
}

a {
    color: white;!important;
    text-decoration: none;
}

a:hover {
    color: white;!important;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    margin-bottom: 10px;
    text-align: justify;
}
/* Estilo para ajustar o tamanho das imagens e centralizá-las */
.carousel-inner {
    display: flex;
    align-items: center;
    text-align: center;
}
.carousel-item img {
    max-height: 580px; /* Ajuste conforme necessário para a altura desejada */
    margin: 0 auto; /* Centraliza horizontalmente */
}
#container-car{
    height: 299px;
    margin-bottom: 254px;
}
#container-car-poesias{
    height: 428px;
    margin-bottom: 237px;
}
.container-footer1{
    position: relative;
    text-align: center;
    margin-top: 20px; /* Ajuste conforme necessário */
}
.icons i {
    font-size: 24px;
    margin-left: 10px;
}

@media (max-width: 767.98px) {

    .icons i {
        font-size: 20px;
        margin-left: 8px;
    }
}
.container-contatos{
    position: relative;
    text-align: left;
    margin: 10px 215px;
}
.container-footer2{
    position: relative;
    text-align: left;
    margin: 10px 215px;
}
.navbar-brand img {
    width: 135px;
    height: 50px;
}
@media (max-width: 767.98px) {
    .navbar-nav .nav-item {
        text-align: center;
    }

    .navbar-nav .dropdown-menu {
        position: static;
        float: none;
    }

    .navbar-brand img {
        width: 125px;
        height: 40px;
    }

    .buttonInscrevase {
        width: 100%;
        margin-top: 10px;
    }
}
@media (max-width: 767.98px) {
    .container-contatos {
        position: static;
        float: none;
        margin: 0 10px
    }
    .container-footer2{
        position: static;
        float: none;
        margin: 0 10px;
    }
    footer .navbar-nav {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }
    .buttonInscrevase {
        width: 100%; /* O botão ocupará toda a largura disponível */
        margin-top: 10px; /* Diminui o espaçamento superior para dispositivos móveis */
    }
}
/* FINAL antologias */

/* COMECO index */
.container-revista .livro-img{
    width: 210px;
    height: 300px;
    margin: 0 auto;
    display: block;
}
.container-livros .livro-img  {
    width: 210px;
    height: 300px;
    object-fit: cover;
    margin: 0 auto;
    display: block;
}

.container-livros .icon-lancamento {
    width: 40px;
    margin-right: 8px;
}

.header-lancamento {
    margin-bottom: 20px;
}

.livros {
    text-align: center;
}


.mobile-carousel {
    display: none;
}
@media (max-width: 768px) {
    .mobile-carousel {
        display: block;!important;
    }
    .container-revista, .container-livros {
        display: none !important;
    }
}
.text-center{
    text-align: center;!important;
}
@media (max-width: 767px) {
    .footer-logo{
        margin-left: 50px;
    }
    .box-img-multiplas{
        top: 0px !important;
    }
}
.box-img-multiplas{
    position: relative;
    top: -90px;
}
#tabsmultiplas .nav-item .nav-link.active{
    background-color:  #2d4955;
    color: #FFFFFF !important;
}
.nav-item .nav-link.active:hover {
    background-color:#A9C4BB;
    color: #FFFFFF!important;
}
.nav-link{
    color: white !important;
    text-decoration: none;
}
.col-4.nav-item{
    background-color:#A9C4BB;
    color: white !important;
}
.img-circle {
    border-radius: 50%;
}
#livrosHeader{
    color:#ffffff;
}
#livrosFooter{
    color:#ffffff;
}
#RevistaHeader{
    color:#ffffff;
}
#RevistaFooter{
    color:#ffffff;
}
.dropdown-item{
    color: #ffffff;
}
footer{
    background-color: #96811D;
    color: #FFFFFF;
    font-family: 'Cabin';
    overflow-x: hidden;
    overflow-y: hidden;
}
livrosFooter{
    background-color: #96811D;
    color: #FFFFFF;
    font-family: 'Cabin';
}
.dropdown-menu{
    background-color:#A9C4BB;
}
.dropdown-menu.footer{
    background-color: #96811D;
}
@media (max-width: 767.98px) {
    .navbar-nav .nav-item {
        text-align: center;
    }

    .navbar-nav .dropdown-menu {
        position: static;
        float: none;
    }
}
.descritivo {
    color: black;
    font-size: 15px;
    text-align: justify;

}
@media (min-width: 768px) {
    .navbar-nav {
        margin-left: auto;
    }
    .descritivo {
        color: black !important;
        font-size: 15px !important;
        text-align: justify;
    }
}
.buttonInscrevase{
    color: #FFFFFF;
    background-color: #96811D;
}
.tituloLivro autoria{
    color: #06171F;
    font-size: 18px;

}
.subTitulo{
    font-size: 18px;
}
.tituloLivro{
    font-weight: bold;
    font-size: 20px;

}
.biografia{
    color: #96811D;
    font-size: 15px;
    text-align: justify;
}
.navbar-nav .nav-link.active, .navbar-nav .nav-link .nav-link dropdown-toggle{
    color:#FFFFFF; !important;
}

/* Style the album container */
/* Center the content in the container */
.container {
    max-width: 1500px;
    margin: 50px auto;
}
/* Style the card layout */
h4 {
    font-size: 24px;
    margin-bottom: 15px;
    color: #fff;
}
#apresentacao p{
    color: black;
    margin-bottom: 20px;
}

a {
    text-decoration: none;!important;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    margin-bottom: 10px;
}
/* Estilo para ajustar o tamanho das imagens e centralizá-las */
.carousel-item img {
    max-height: 580px; /* Ajuste conforme necessário para a altura desejada */
    margin: 0 auto; /* Centraliza horizontalmente */
}
.container-footer1{
    position: relative;
    text-align: center;
    margin-top: 20px; /* Ajuste conforme necessário */
}
.icons i {
    font-size: 24px;
    margin-left: 10px;
}

@media (max-width: 767.98px) {
    .icons i {
        font-size: 20px;
        margin-left: 8px;
    }
}
.container-contatos{
    position: relative;
    text-align: left;
    margin: 10px 215px;
}
.container-footer2{
    position: relative;
    text-align: left;
    margin: 10px 215px;
}
.box-colecao {
    position: absolute;
    left: 50%;
    width: 295px;
    top: 40px;
    transform: translateX(-66%);
    z-index: 2;
}
@media (max-width: 767.98px) {
    .logo-ativo {
        position: relative;
        z-index: 1;
        height: 60% !important;
    }
    .container-contatos {
        position: static;
        float: none;
        margin: 0 10px
    }
    .container-footer2{
        position: static;
        float: none;
        margin: 0 10px;
    }
    footer .navbar-nav {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }
    .box-colecao {
        top: -20px;
        width: 45%; !important;
        position: absolute;
        left: 60%;
        transform: translateX(-66%);
        z-index: 2;
    }

    .buttonInscrevase {
        width: 100%; /* O botão ocupará toda a largura disponível */
        margin-top: 10px; /* Diminui o espaçamento superior para dispositivos móveis */
    }

}
.logo-ativo {
    position: relative;
    z-index: 1;
    height: 310px;
}
.logo-ativo-sobre {
    position: relative;
    z-index: 1;
    height: 230px;
}
.edicaoNome{
    color: #06171F;
    font-weight: bold;
}
.coletivo{
    color: #06171F;
}
.container-revista{
    font-family: 'Cabin';
    background-color: transparent;
}

.tituloLivro autoria{
    color: #06171F;
    font-size: 18px;
}
.tituloLivro{
    font-size: 20px;
}
.hastagLivro{
    color: #96811D;
    font-size: 15px;
}

/* Style the album container */
.album {
    background-color: #ffffff;
}

.col-md-3{
    width: 100px;
}

.container-revista, .container-livros .container-livros-ebooks .container-livros-poesias .container-livros-politica {
    margin: 50px 10%;
    width: 80%;
}
@media (max-width: 767px) {
    .container-revista, .container-livros .container-livros-ebooks .container-livros-poesias .container-livros-politica {
        margin: 50px 10%;
        width: 80%;
    }
}

/* Style the card layout */
.row-cols-1,
.row-cols-sm-2,
.row-cols-md-3 {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
}

/* Add space between cards */
.col {
    padding: 15px;
}

/* Style the cards */
.card {
    width: 100%;
    height: 430px;
    max-width: 300px;
    margin: 15px auto;
    position: relative;
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
}

/* Style the card body */
.card-body {
    flex: 1 1 auto;
    padding: 1.25rem;
}

/* Style the card text */
.card-text {
    margin-bottom: 1rem;
}

/* Style the buttons */
.btn-group {
    margin-right: 5px;
}

/* Style the timestamp */
.text-muted {
    font-size: 0.85em;
    color: #96811D; /* Timestamp color */
}

/* Add shadow to cards on hover */
.card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.footer-section {
    flex: 0 0 30%;
    text-align: center;
}

@media (max-width: 768px) {
    .footer-section {
        flex: 0 0 100%;
    }
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: rgba(0, 0, 0, 0.5); /* Fundo das setas */
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

/* Estilo para ajustar o tamanho das imagens e centralizá-las */
.carousel-inner {
    display: flex;
    align-items: center;
    text-align: center;
}

.carousel-item {
    text-align: center;
}
.carousel-indicators {
    position: absolute;
    right: 0;
    bottom: -40px;
    left: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
    padding: 0;
    margin-right: 15%;
    background-color:#96811D;
}
/* Media query para dispositivos com largura de tela menor que 768 pixels (ajuste conforme necessário) */
@media (max-width: 767px) {
    .carousel-indicators {
        bottom: -40px; /* Ajuste o valor conforme necessário para dispositivos móveis */
    }
}
@media (max-width: 767px) {
    #imgBanner1{
        height: 250px;
        width:100%;
    }
    #imgBanner2{
        height: 250px;
        width:100%;
    }
    #imgBanner3{
        height: 250px;
        width:100%;
    }
    #imgBanner4{
        height: 250px;
        width:100%;
    }
    #imgBanner5{
        height: 250px;
        width:100%;
    }
}
.container-footer1{
    position: relative;
    text-align: center;
    margin-top: 20px;
}

@media (max-width: 767.98px) {
    .container img.logo-ativo.box-colecao {
        width: 160px!important;
    }
}
@media (max-width: 767.98px) {
    .box-colecao {
        top: -20px;
        width: 55%; /* Ajusta a largura para dispositivos móveis */
        position: absolute;
        left: 65%;
        transform: translateX(-66%);
        z-index: 2;
    }
    @media (max-width: 767px) {
        .footer-logo{
            margin-left: 50px;
        }
        .box-img-multiplas{
            top: 0px !important;
        }
    }
    .box-img-multiplas{
        position: relative;
        top: -90px;
    }
    .col-4.nav-item{
        background-color:#A9C4BB;
        color: white !important;
    }
    @media (max-width: 767.98px) {
        .navbar-nav .nav-item {
            text-align: center;
        }

        .navbar-nav .dropdown-menu {
            position: static;
            float: none;
        }
    }
    .descritivo {
        color: black;
        font-size: 15px;
        text-align: justify;

    }
    @media (min-width: 768px) {
        .navbar-nav {
            margin-left: auto;
        }
        .descritivo {
            color: black !important;
            font-size: 15px !important;
            text-align: justify;
        }
    }
    .subTitulo{
        font-size: 18px;
    }
    .header-icon {
        width: 40px;
        margin-right: 8px;
    }
    .tituloLivro{
        font-weight: bold;
        font-size: 20px;
    }
    .biografia{
        color: #96811D;
        font-size: 15px;
        text-align: justify;
    }
    .dropdown-item{
        color: #ffffff;
    }
    .navbar-nav .nav-link.active, .navbar-nav .nav-link .nav-link dropdown-toggle{
        color:#FFFFFF; !important;
    }

    /* Style the album container */
    /* Center the content in the container */
    .container {
        max-width: 1500px;
        margin: 50px auto;
    }
    @media (max-width: 767px) {
        margin: 50px 10%;
    }
    /* Style the card layout */
    h4 {
        font-size: 24px;
        margin-bottom: 15px;
        color: #fff;
    }
    #apresentacao p {
        color: black;
        margin-bottom: 20px;
    }

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    li {
        margin-bottom: 10px;
    }
    /* Estilo para ajustar o tamanho das imagens e centralizá-las */
    .container-footer1{
        position: relative;
        text-align: center;
        margin-top: 20px; /* Ajuste conforme necessário */
    }
    .icons i {
        font-size: 24px;
        margin-left: 10px;
    }

    @media (max-width: 767.98px) {
        .icons i {
            font-size: 20px;
            margin-left: 8px;
        }
    }
    .container-contatos{
        position: relative;
        text-align: left;
        margin: 10px 215px;
    }
    .container-footer2{
        position: relative;
        text-align: left;
        margin: 10px 215px;
    }
    .box-colecao {
        position: absolute;
        left: 50%;
        width: 295px;
        top: 40px;
        transform: translateX(-66%);
        z-index: 2;
    }
    @media (max-width: 767.98px) {
        .logo-ativo {
            position: relative;
            z-index: 1;
            height: 60% !important;
        }
        .container-contatos {
            position: static;
            float: none;
            margin: 0 10px
        }
        .container-footer2{
            position: static;
            float: none;
            margin: 0 10px;
        }
        footer .navbar-nav {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
        }
        .box-colecao {
            top: -20px;
            width: 45%; !important;
            position: absolute;
            left: 60%;
            transform: translateX(-66%);
            z-index: 2;
        }

        .buttonInscrevase {
            width: 100%; /* O botão ocupará toda a largura disponível */
            margin-top: 10px; /* Diminui o espaçamento superior para dispositivos móveis */
        }

    }
}
/* FINAL index */

/* COMECO PRIVACIDADE */
a{
    text-decoration: none;
}

/* FINAL PRIVACIDADE */
